

.welcome {
    border: 3px solid rgb(202, 26, 26);
    margin: 50px;

}

.square {
    width: 300px;
    height: 300px; 
    background:red;
    margin-bottom: 300px;
    margin: 100px;
}

.abc {
    border: 3px solid red;
}